.card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    margin: 0 auto;
    color: black;
    padding: 1rem;
}