.custom-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 200px;
    min-width: 200px;
    cursor: pointer;
    height: max-content;
}

.custom-card:hover{
    transform: translateY(-5px);
}

.custom-card-img{
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
}

.custom-card-link{
    text-decoration: none;
    color: #000;
    min-width: 200px;
    min-height: 200px;
}